.quizzes {
  padding: 50px;

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.quizz-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 250px;
  height: 300px;
  border: 2px solid #f7768d;
  border-radius: 10px;
  margin: 20px;
  overflow: hidden;
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);

    & > .quizz-card__start-btn {
      height: 10%;
      padding: 5px;
    }
  }

  &__title {
    min-height: 15%;
    text-align: center;
    font-size: 25px;
    color: #f7768d;
    background-color: rgba(0, 0, 0, 0.685);
    padding: 5px;
  }

  &__start-btn {
    height: 0%;
    text-align: center;
    border: none;
    background-color: rgb(192, 2, 2);
    color: rgb(253, 238, 209);
    font-size: 17px;
    transition-duration: 0.3s;

    &:hover {
        background-color: #f7768d;
    }
  }
}
